.pokemon {
  /* min-height: max-content;
  width: 100vw; */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

@import url('./styles/pokemon__data.css');
@import url('./styles/pokemon__header.css');
@import url('./styles/pokemon__header-name.css');
@import url('./styles/pokemon__text.css');
@import url('./styles/pokemon__name.css');
@import url('./styles/pokemon__photos.css');
@import url('./styles/pokemon__photo.css');
@import url('./styles/pokemon__info.css');
@import url('./styles/pokemon__info-block.css');
@import url('./styles/pokemon__stats.css');
@import url('./styles/pokemon__stats-line.css');
