.search-panel {
  display: flex;
  justify-content: flex-start;
  padding-left: 90px;
  width: 300px;
  gap: 5px;
 
}

@media (max-width: 355px) {
  .search-panel {
    width: 320px;
    justify-content: center;
  }
}

@import url('./styles/search-panel__form.css');
@import url('./styles/search-panel__input.css');
@import url('./styles/search-panel__button.css');
@import url('./styles/search-panel__button-image.css');
