.pokemon__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
    font-size: 22px;
    width: 810px;
}

@media (max-width: 980px) {
    .pokemon__info  {
        width: 99%;
    }
  }