.pokemon__tag-type {
    margin: 0;
    width: 90%;
    height: 30%;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #719fb0;
    box-sizing: border-box;
  }
  

@media (max-width: 980px) {
  .pokemon__tag-type {
      font-size: 26px;
  }
}