.pokemon__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 900px;
  gap: 15px;

  padding: 20px 15px 65px 15px;
  border-radius: 15px;
  background-color: #222831;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(207, 195, 195, 0.08) 0px 1px 0px inset;
}


@media (max-width: 980px) {
  .pokemon__data  {
      width: 92%;
  }
}
